<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./Component/Head') %>
</head>
<body>
    <header class="content-header">
        <%- include('./Component/Header') %>
    </header>
    <main class="content-main">
        <aside class="content-aside_chat">
            <%- include('./Component/Sidebar') %>
        </aside>
        <section class="content-section">
            <div class="content-section_title">
                <%- include('./Component/TitleChat') %>

                <div class="chat-setting__block" id="flyout">
                    <div class="chat-setting__block-element">
                        <button onclick="AddUser()">
                            <img src="assets/img/plusUser.svg" alt="">
                            <p>Добавить пользователя</p>
                        </button>
                    </div>
                    <div class="chat-setting__block-element">
                        <button onclick="DelUser()">
                            <img src="assets/img/plusUser.svg" alt="">
                            <p>Удалить пользователя</p>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content-section_chat">
                <%- include('./Component/ContentChat') %>
            </div>
        </section>
        <aside class="content-aside_interlocutor">
            <%- include('./Component/InterlocutorChat') %>
        </aside>
    </main>
    <div class="chatAddUser__wriper">
        <div class="chatAddUser">
            <div class="chatAddUser__title">
                <p>Добавить пользователя</p>
            </div>

            <div class="chatAddUser__form">
                <label>
                    <p>Логин</p>
                    <input type="text">
                </label>

                <button>Добавить</button>
            </div>
        </div>
    </div>

    <div class="chatDelUser__wriper">
        <div class="chatDelUser">
            <div class="chatDelUser__title">
                <p>Удалить пользователя</p>
            </div>

            <div class="chatDelUser__form">
                <label>
                    <p>Логин</p>
                    <input type="text">
                </label>

                <button>Удалить</button>
            </div>
        </div>
    </div>
    
    <script src="assets/js/index.js"></script>
</body>
</html>